<nav class="site-nav sticky-top">
  <div class="site-nav__main">
    <div class="container site-nav__main-inner">
      <a class="brand" routerLink="/partidas">
        <img class="brand__crest" src="/assets/img/controle.png" alt="Pig League - Controle" />

        <div class="d-flex gap-2 align-items-center">
          <span class="brand__text">INSIDE CUP FC25 – XBOX ONE</span>

          <small class="badge bg-warning text-dark rounded text-uppercase">
            Primeira Edição
          </small>
        </div>
      </a>

      <ul class="menu">
        @for (item of menu; track item.route) {
          <li>
            <a
              class="menu__link"
              data-testid="menu-item"
              routerLinkActive="active"
              [routerLink]="item.route"
            >
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
      <span></span>
    </div>
  </div>
</nav>
